extends layout.pug

block content
  article.article
    h2.article__title People shocked as a Cow jumps over the Moon!
    h5.article__date 18th Feb, 2018
    .article__content
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto harum a maiores eligendi quibusdam laudantium quaerat vitae ullam vero, officia, et fugiat, sed alias atque iste voluptatibus similique est placeat?